. intro {
  font-style: italic;
}
.author {
  color: blue;
}
p.author {
  font-size: 12px;
}
. Tropical {
  text color: green;
font-family: magical;
}
h1 color: 7dc410
h2 color: 7dc410
h3 color: 7dc410
